body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(37, 36, 36);
    color: antiquewhite;
}

.container{
    text-align: center;
}

button{
    font-size: 15px;
    margin: 8px;
    cursor: pointer;
    padding: 8px 15px;
}